/*
	App by FreeHTML5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Montserrat", "sans-serif";
}

html {
  overflow-x: hidden;
}

.download-btn-first {
  background: #f7f7f7;
}

.download-btn-first:hover {
  background: #234197;
  color: #fff !important;
}

#amuse-hero-wrapper {
  height: 500px;
  width: 100%;
  background: url("../img/banner-bg.jpg") no-repeat center;
  border-radius: 0 0 50% 50% / 4%;
}

#amuse-hero-wrapper2 {
  height: 300px;
  width: 100%;
  background: url("../img/banner-bg2.jpg") no-repeat center;
  border-radius: 0 0 50% 50% / 4%;
}

.main-navbar-nav .navbar-brand {
  font-size: 38px;
  letter-spacing: 4px;
  position: relative;
  top: -5px;
  font-weight: 500;
}

.main-navbar-nav {
  color: #fff !important;
}
.main-navbar-nav li {
  color: #fff;
  opacity: .7;
}
.main-navbar-nav .navbar-nav .nav-item a:hover {
  color: #234197 !important;
  -webkit-transition: all .33s ease;
  -moz-transition: all .33s ease;
  -o-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}
.main-navbar-nav .active {
  color: #fff !important;
  opacity: 1 !important;
}
.main-navbar-nav a {
  color: #fff !important;
}
.main-navbar-nav .nav-link {
  opacity: 1 !important;
  margin: 0 15px;
  font-size: 14.5px;
  font-weight: 500;
}

.amuse-hero-inner {
  margin-top: 50px;
  position: relative;
}
.amuse-hero-inner > h1 {
  color: #fff;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 2px;
}
.amuse-hero-inner > p {
  width: 400px;
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2em;
}
.amuse-hero-inner .download-btn-first {
  font-size: 15px;
  padding: 10px 15px;
  font-weight: 700;
  color: #234197;
}

/* ==========================================================================================================
										業務概要
   ========================================================================================================== */
.amuse-projects1-outer {
  padding-top: 70px;
  padding-bottom: 70px;
  height: auto;
  width: 100%;
  overflow: hidden;
}
.amuse-projects1-outer h1 {
  color: #648cff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.amuse-projects1-outer small {
  text-align: center;
  display: block;
}
.amuse-projects1-outer .amuse-projects1-grid-columns {
  margin-top: 120px;
}
.amuse-projects1-outer .amuse-projects1-grid-columns .col-sm-4 .grid-title {
  font-size: 30px;
  font-weight: 400;
}
.curved-bg-div {
  background: url("../img/curved-bgg.jpg") no-repeat;
  background-position: 0px -140px;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.curved-bg-div2 {
  background: url("../img/curved-bgg2.jpg") no-repeat;
  background-position: 0px -140px;
  background-size: cover;
  width: 100%;
  height: 300px;
}

/* ==========================================================================================================
										技術紹介
   ========================================================================================================== */
.amuse-projects2-outer {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    height: auto;
}
.amuse-projects2-outer h1 {
  color: #648cff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.amuse-projects2-outer small {
  text-align: center;
  display: block;
}
.amuse-projects2-outer .col-sm-6 {
  margin-top: 80px;
}
.amuse-projects2-outer .sm-6-content {
  margin-top: 100px;
  margin-bottom: 100px;
  position: relative;
}
.amuse-projects2-outer .sm-6-content h1 {
  color: #648cff;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
}
.amuse-projects2-outer .sm-6-content p {
  color: #111;
  font-weight: 500;
  font-size: 14.5px;
  line-height: 1.8em;
  width: 450px;
}
.amuse-projects2-outer .col-sm-6 .col-sm-image-container {
  position: relative;
}

/* ==========================================================================================================
										お知らせ
   ========================================================================================================== */
.amuse-topics-outer {
  width: 100%;
  padding: 70px;
  margin-top: 0px;
}
.amuse-topics-inner {
  margin-top: 50px;
}
.amuse-topics-outer > h1 {
  color: #648cff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.amuse-topics-outer > small {
  text-align: center;
  display: block;
}

/* ==========================================================================================================
										会社概要
   ========================================================================================================== */
.amuse-aboutus-outer {
  width: 100%;
  height: 800px;
  background: url("../img/download-section-bg.jpg") no-repeat center;
  margin-top: 50px;
  overflow-x: hidden;
}
.amuse-aboutus-outer .amuse-aboutus-inner {
  margin-top: 200px;
}
.amuse-aboutus-outer .amuse-aboutus-inner .col-sm-8 h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 30px;
}
.amuse-aboutus-outer .amuse-aboutus-inner .col-sm-8 table {
  color: #fff;
  font-size: 14.5px;
  line-height: 1.85em;
}
.amuse-aboutus-outer .amuse-aboutus-inner .col-sm-8 img {
  margin-top: 25px;
}

   /* ==========================================================================================================
										コンテンツ
   ========================================================================================================== */
   .amuse-contents-outer {
    padding-top: 30px;
    padding-bottom: 100px;
    height: auto;
    width: 100%;
    overflow: hidden;
  }
  .amuse-contents-outer h1 {
    color: #648cff;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }
  .amuse-contents-outer small {
    text-align: center;
    display: block;
  }
  .amuse-contents-outer .amuse-contents-grid-columns {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .amuse-contents-outer .amuse-contents-grid-columns ul {
    margin-left: 50px;
    margin-right: 50px;
  }
  .amuse-contents-outer .amuse-contents-grid-columns ol {
    margin-left: 50px;
    margin-right: 50px;
  }
  .amuse-contents-outer .amuse-contents-grid-columns ol li {
    margin-bottom: 50px;
    font-size: 20px;
  }
  
  .amuse-contents-outer h2 {
    position: relative;
    color: #158b2b;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
    margin: 5.0em 0;
  }
  .amuse-contents-outer h2:before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    width: 150px;
    height: 58px;
    border-radius: 50%;
    border: 5px solid #a6ddb0;
    border-left-color: transparent;
    border-right-color: transparent;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .amuse-contents-outer h3 {
    color: #010079;
    text-shadow: 0 0 5px white;
    border-left: solid 7px #010079;
    background: -webkit-repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #cce7ff, #cce7ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  }
  .amuse-contents-outer p.tel {
    font-size: 50px;
  }
  .amuse-contents-outer p.fax {
    font-size: 50px;
  }

   /* ==========================================================================================================
										SUB FOOTER
   ========================================================================================================== */
.img-float-left {
  float: left;
}

.img-float-right {
  float: right;
}

.footer-outer {
  width: 100%;
  padding: 50px;
  height: 250px;
  background: #2e3149;
  overflow: hidden;
}
.footer-outer .footer-inner {
  width: 100%;
  height: inherit;
}
.footer-outer .social-icons-footer i {
  margin: 15px;
  font-size: 20px;
}
.footer-outer .social-icons-footer a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}
.footer-outer .footer-three-grid {
  width: 1140px;
  margin: 0 auto;
  height: 50px;
  text-align: center;
}
.footer-outer .column-1-3 {
  width: 20%;
  float: left;
  height: 50px;
}
.footer-outer .column-1-3 h1 {
  font-size: 38px;
  letter-spacing: 3px;
  position: relative;
  top: -5px;
  font-weight: 600;
  color: #fff;
}
.footer-outer .column-2-3 {
  width: 60%;
  float: left;
  height: 50px;
}
.footer-outer .column-3-3 {
  width: 20%;
  float: left;
  height: 50px;
}
.footer-outer .column-3-3 a {
  color: #b5b5c8;
}
.footer-outer .footer-nav ul {
  list-style: none;
  text-align: center;
}
.footer-outer .footer-nav ul li {
  display: inline-block;
  line-height: 50px;
  color: #b5b5c8;
  margin: 0 10px;
  font-size: 14px;
}
.footer-outer .footer-nav ul li:hover {
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.footer-outer .footer-nav ul .active {
  color: #fff;
}
.footer-outer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}
.footer-outer .border-bottom-footer {
  height: 1px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #434769;
  display: block;
  margin-top: 50px;
}
.footer-outer .copyright {
  color: #565b87;
  text-align: center;
  font-size: 13px;
  padding: 40px 0;
}
/* ==========================================================================================================
                                       Memo
  ========================================================================================================== */
.waku {
    color: #565b87;
}

/* ==========================================================================================================
                                       RESPONSIVE STYLING
  ========================================================================================================== */
@media screen and (max-width: 1400px) {
  body {
    overflow-x: hidden;
  }

  .curved-bg-div {
    background-position: 100% -20px;
  }

  .curved-bg-div2 {
    background-position: 100% -20px;
  }

  .footer-outer .footer-three-grid {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
}
@media screen and (max-width: 993px) {
  body {
    overflow-x: hidden;
  }

  #amuse-hero-wrapper {
    height: 500px;
  }

  .amuse-hero-inner {
    margin-top: 30px;
  }

  .amuse-projects1-outer {
    margin-top: 50px;
    padding-bottom: 0;
  }

  .amuse-projects1-outer .amuse-projects1-grid-columns .col-sm-4 .grid-title {
    float: none;
    text-align: center;
  }

  .amuse-projects2-outer {
    margin-top: 50px;
    padding-bottom: 0;
  }

  .amuse-projects2-outer .sm-6-content p {
    width: 100%;
  }

  .footer-outer .footer-nav ul li {
    margin: 0 10px;
  }
}
@media screen and (max-width: 993px) {
  .amuse-projects2-grid-columns .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
  }

  .amuse-projects2-outer .col-sm-6 .col-sm-image-container {
    position: relative;
    /*width: 295px !important;*/
    text-align: center;
    margin: 15px auto 0;
  }

  .no-float {
    float: none !important;
  }

  .img-float-right {
    float: none;
  }

  .img-float-left {
    float: none;
  }

  .amuse-projects1-outer .second-title {
    margin-top: 60px;
  }

  .amuse-projects2-grid-columns {
    display: flex;
    flex-direction: column;
  }
  .amuse-projects2-grid-columns .in-order-4 {
    order: 1;
  }
  .amuse-projects2-grid-columns .in-order-3 {
    order: 2;
  }

  .amuse-topics-outer {
    padding: 0;
  }

  .navbar-light .navbar-toggler {
    color: #fff !important;
    border-color: #c7c7c7 !important;
  }

  .navbar-light .navbar-nav .nav-link {
    margin: 0;
    width: 100%;
  }

  .social-icons-header i:first-of-type {
    margin-right: 10px !important;
    margin-left: 0 !important;
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .amuse-hero-inner > h1 {
    color: #fff;
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 2px;
  }

  #amuse-hero-wrapper {
    height: 500px;
  }

  .amuse-projects1-outer .amuse-projects1-grid-columns {
    margin-top: 40px;
  }

  .amuse-projects1-grid-columns .col-sm-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
  }

  .amuse-projects1-outer .second-title {
    margin-top: 60px;
  }

  .amuse-aboutus-outer {
    margin-top: 40px;
    overflow: hidden;
  }

  .amuse-aboutus-outer .amuse-aboutus-inner {
    margin-top: 50px;
  }

  .amuse-topics-inner .col-sm-5 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
    margin: 30px auto;
    text-align: center;
  }

  .amuse-topics-outer {
    height: auto;
  }

  .amuse-topics-outer .amuse-topics-inner {
    margin-top: 50px;
  }

  .amuse-aboutus-outer {
    background-position: center bottom;
    overflow: hidden;
    height: auto;
  }

  .amuse-aboutus-inner {
    overflow: hidden;
    padding-bottom: 50px;
    text-align: center;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
  }

  .amuse-aboutus-outer .amuse-aboutus-inner .col-sm-6 p {
    /*width: 90%;*/
    margin: 0 auto;
  }

  .footer-outer {
    height: auto;
    padding: 20px;
  }

  .footer-outer .column-1-3 {
    width: 100%;
    float: none;
    height: auto;
    padding-top: 30px;
  }

  .footer-outer .column-2-3 {
    width: 100%;
    float: none;
    height: auto;
  }

  .footer-outer .column-3-3 {
    width: 100%;
    float: left;
    height: auto;
    margin: 15px 0;
  }

  .footer-outer .copyright {
    margin-top: 30px;
    padding: 10px 0;
  }

  .footer-outer .border-bottom-footer {
    height: 1px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #434769;
    display: block;
    margin-top: 100px;
  }
}
@media screen and (max-width: 520px) {
  #amuse-hero-wrapper {
    height: 500px;
  }

  .amuse-hero-inner > h1 {
    font-size: 40px;
  }

  .amuse-hero-inner > p {
    width: 100%;
  }

  .amuse-hero-inner {
    text-align: center;
  }

  .amuse-topics-inner .col-sm-5 {
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    width: 90%;
    max-width: 90%;
    margin: 30px auto;
    text-align: center;
  }
}
